@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cinzel+Decorative:wght@400;700;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.book-cover {
  width: 100%;
  height: 320px;
  position: relative;

  border: none;
  border-radius: 4px;

  object-fit: cover; /* key for scaling*/
  /* background-color: lightblue; */
}

.book-card {
  container-type: inline-size;
  /* position: relative; */
  border: dotted lightblue;
  /* margin: 1rem; */
  width: 200px;
  height: 530px;
  padding: 0.3rem;
  margin: 0.3rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.book-id {
  position: static;
  /* top: 96%; */
  /* left: 87%; */
  width: 40px;
  height: 34px;
  background-color: rgba(211, 211, 211, 0.413);
  color: #222;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  font-weight: bold;
}

img {
  object-fit: fill;
}

h3 {
  min-height: 50px;
  max-height: 100px;
  font-size: clamp(1.2rem, 5cqi, 1.6rem);
  font-weight: 700;
  font-family: "Cinzel Decorative", serif;
  font: normal;

  /* width: 100%; */
  overflow-wrap: normal;
  padding: 0px 8px;
  text-wrap: true;
  text-transform: capitalize;
  justify-self: center;
}

p {
  padding: 0.3rem;
  margin: 0.5rem;

  text-align: start;
  margin-bottom: auto;
}

p:last-child {
  /* makes the <p/> be at the end (bottom most) of the card */
  margin-top: auto;
}
